<ion-header [translucent]="true">
  <ion-toolbar color="dark grey">
    <ion-title style="text-align: center;text-shadow: 3px 3px 3px rgb(230, 28, 206);color: cyan;">
    <h1> Profile </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="card">
            <img src="./assets/zinn.jpg">
            <h4>Faye Marie Oscobido</h4>
            <h5>Student</h5>
            <div class="details">
                <div class="column">
                    <h2>1.6K</h2>
                    <span>Followers</span>
                </div>
                <div class="column">
                    <h2>852</h2>
                    <span>Following</span>
                </div>
            </div>
            <div class="buttons">
                <button>Follow</button>
                <button>Message</button>
            </div>
            <ion-text color="dark">
                <h5>December 24, 2000</h5>
              </ion-text>
              <ion-text color="dark">
                <h5>Sagkahan Carigara Leyte</h5>
              </ion-text>
              <ion-text color="dark">
                <h5>Eastern Visayas <br>State University</h5>
              </ion-text>
        </div>
    </div>


</ion-content>
